body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.cadastro{
    height: 100vh;
    background: linear-gradient(120deg, #0245a8, #a85100);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.cadastro_container{
    min-height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;

}

.cadastro_title{
    margin-bottom: 32px;
    color: rgb(49, 49, 49);
   
}

.cadastro_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.cadastro_input{
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.cadastro_input-border{
    height: 2px;
    width: 100%;
    margin-bottom: 16px;
    background-color: rgb(221, 221, 221);
    
}

.cadastro_submit{
    height: 48px;
    width: 100%;
    outline: none;
    background-color: darkorange;
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
   

}

.login{
    font-size: 15px;
    color: gray;
    text-decoration: none;

}
